

        <div class="container">
            <div class="row">
                <main class="col-md-12">

                    <!-- Start your code here -->
                    <h2>Welcome to my WEBSITE!</h2>
                    <p>My Name is Himanshi Arora.</p>
                    <p>I will be demonstrating HTML principles and techniques, Routing in Express.</p>

                    <h3>About This Website</h3>
                    <p>This site consists of 3 static views (Home, About, HTML Demo) as well as 5 routes that supply data, including: 
                        <a href="/students">All Students</a>, 
                        <a href="/students?course=3">Students by Course</a>, 
                        <a href="/student/2">A Single Student By Student Number</a>, 
                        <a href="/tas">All Managers</a>, and 
                        <a href="/courses">All Courses</a>.
                    </p>

                    <h3>Welcome to Web Programming!</h3>
                    <p>This website uses HTML5, which is a markup language designed for organizing and displaying content on the Internet.</p>
                    <p>The Internet is the most widely used platform for computing globally. As a developer, mastering web development requires significant time investment. There are numerous languages, libraries, frameworks, and tools to learn, ranging from longstanding ones to those just developed recently, all coexisting simultaneously.</p>
                    
                    <!-- End your code here  -->

                </main>
            </div>
        </div>
        <section id="images">
            <div class="row">
                <div class="col-md-4 text-center">
                    <img src="https://html.com/wp-content/uploads/html-tutorial-beginners-header.webp" alt="Welcome word flat cartoon people characters" width="800" height="500" />
                </div>
            </div>
        </section>

        